@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.a {
    background-color: #dac0ff;
}

.b {
    color: #690cb0;
    font-size: 40px;
}

.c {
    color: #3e4c59;
    font-size: 18px;
}

.e {
    height: 50px;
    width: 50px;
}

.d {
    background-color: #f2ebfe;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    padding: 5px;
}

#submitBtn {
    background-color: #690cb0;
}

#resetBtn {
    background-color: white;
    color: black;
}